### Laravel app ###
/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php

### Vagrant ###
.vagrant
ansible/vagrant.retry

### PhpStorm ###
.idea

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

### Vim ####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
# temporary
.netrwhist
*~

### Passport ###
/storage/oauth-*